<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookhub">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".container.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookHUB">
        <service android:name=".Service.MusicPlayerService" />
        <activity
            android:name=".UI.Audio_story.Play_Audio"
            android:exported="false" />
        <activity
            android:name=".UI.Write_Story.Activities.Post_UI"
            android:exported="false" />
        <activity
            android:name=".UI.BookActivity.Activities.Upload_Book"
            android:exported="false" />
        <activity
            android:name=".UI.Write_Story.Activities.Read_Post"
            android:exported="false"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.Write_Story.Activities.Write_post"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UI.Audio_story.Audio_story_activity"
            android:exported="false" />
        <activity
            android:name=".UI.BookActivity.Activities.BookMark"
            android:exported="false" />
        <activity
            android:name=".UI.BookActivity.Activities.Book_Details"
            android:parentActivityName=".UI.BookActivity.Activities.Pdfviewer" />
        <activity
            android:name=".UI.BookActivity.Activities.Book_Home"
            android:exported="false" />
        <activity
            android:name=".UI.BookActivity.Activities.Pdfviewer"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat"
            tools:ignore="LockedOrientationActivity" /> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".UI.Authentication.Fragment.Login_fragment"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable,LockedOrientationActivity" />
        <activity
            android:name=".UI.Authentication.Activities.Loginhome"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".UI.startup.wellcomeuser"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Loginuser"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="MissingClass" />
        <activity
            android:name=".LoginHome"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="MissingClass" />
        <activity
            android:name=".UI.Home"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wellcome"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,MissingClass" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.bumptech.glide.module.AppGlideModule"
            android:value=".MyAppGlideModule" />
    </application>

</manifest>